/system/framework/core.jar 0
/system/framework/conscrypt.jar -1
/system/framework/okhttp.jar -1
/system/framework/core-junit.jar -1
/system/framework/bouncycastle.jar -1
/system/framework/ext.jar -1
/system/framework/framework.jar -1
/system/framework/framework2.jar -1
/system/framework/telephony-common.jar -1
/system/framework/voip-common.jar -1
/system/framework/mms-common.jar -1
/system/framework/android.policy.jar -1
/system/framework/services.jar -1
/system/framework/apache-xml.jar -1
/system/framework/webviewchromium.jar -1
/system/framework/javax.obex.jar -1
/system/framework/com.google.android.media.effects.jar -1
/system/framework/com.android.future.usb.accessory.jar -1
/system/framework/android.test.runner.jar -1
/system/framework/com.google.widevine.software.drm.jar -1
/system/framework/com.google.android.maps.jar -1
/system/framework/qcrilhook.jar -1
/system/framework/com.android.location.provider.jar -1
/system/framework/serviceitems.jar -1
/system/framework/am.jar -1
/system/framework/bmgr.jar -1
/system/framework/bu.jar -1
/system/framework/content.jar -1
/system/framework/ime.jar -1
/system/framework/input.jar -1
/system/framework/media_cmd.jar -1
/system/framework/monkey.jar -1
/system/framework/pm.jar -1
/system/framework/requestsync.jar -1
/system/framework/settings.jar -1
/system/framework/svc.jar -1
/system/framework/uiautomator.jar -1
/system/framework/wm.jar -1
/system/priv-app/SettingsProvider.apk -1
/system/priv-app/VoiceDialer.apk -1
/system/app/MediaUploader.apk -1
/system/priv-app/GooglePartnerSetup.apk -1
/system/app/GoogleHome.apk -1
/system/app/Chrome.apk -1
/system/priv-app/DefaultContainerService.apk -1
/system/priv-app/DownloadProvider.apk -1
/system/app/HoloSpiralWallpaper.apk -1
/system/app/TimeService.apk -1
/system/app/YouTube.apk -1
/system/app/DownloadProviderUi.apk -1
/system/app/PinyinIME.apk -1
/system/priv-app/Dialer.apk -1
/system/app/WAPPushManager.apk -1
/system/priv-app/ConfigUpdater.apk -1
/system/priv-app/WallpaperCropper.apk -1
/system/priv-app/Keyguard.apk -1
/system/app/DeskClock.apk -1
/system/app/PackageInstaller.apk -1
/system/app/VideoEditor.apk -1
/system/priv-app/Settings.apk -1
/system/app/GenieWidget.apk -1
/system/priv-app/BackupRestoreConfirmation.apk -1
/system/app/Maps.apk -1
/system/app/PlayGames.apk -1
/system/app/DocumentsUI.apk -1
/system/app/CertInstaller.apk -1
/system/app/SoundRecorder.apk -1
/system/priv-app/InputDevices.apk -1
/system/app/Bluetooth.apk -1
/system/priv-app/MusicFX.apk -1
/system/app/CalendarGoogle.apk -1
/system/priv-app/GoogleServicesFramework.apk -1
/system/app/Music2.apk -1
/system/priv-app/GoogleFeedback.apk -1
/system/app/TelephonyProvider.apk -1
/system/priv-app/Wallet.apk -1
/system/app/PhotoTable.apk -1
/system/app/NfcNci.apk -1
/system/priv-app/GoogleLoginService.apk -1
/system/app/NoiseField.apk -1
/system/app/ChromeBookmarksSyncAdapter.apk -1
/system/app/Magazines.apk -1
/system/app/QuickSearchBox.apk -1
/system/app/HTMLViewer.apk -1
/system/app/GoogleTTS.apk -1
/system/app/Gmail2.apk -1
/system/app/GalleryGoogle.apk -1
/system/app/LatinImeGoogle.apk -1
/system/app/OpenWnn.apk -1
/system/priv-app/MediaProvider.apk -1
/system/app/Videos.apk -1
/system/app/LiveWallpapers.apk -1
/system/priv-app/Velvet.apk -1
/system/app/BasicDreams.apk -1
/system/priv-app/VpnDialogs.apk -1
/system/priv-app/CalendarProvider.apk -1
/system/app/Drive.apk -1
/system/app/PlusOne.apk -1
/system/priv-app/PrebuiltGmsCore.apk -1
/system/app/PacProcessor.apk -1
/system/priv-app/ContactsProvider.apk -1
/system/priv-app/ProxyHandler.apk -1
/system/priv-app/FusedLocation.apk -1
/system/app/Provision.apk -1
/system/app/GoogleEars.apk -1
/system/app/Books.apk -1
/system/priv-app/Tag.apk -1
/system/app/MagicSmokeWallpapers.apk -1
/system/priv-app/TeleService.apk -1
/system/app/Street.apk -1
/system/priv-app/SetupWizard.apk -1
/system/app/Email.apk -1
/system/app/UpdateSetting.apk -1
/system/app/KeyChain.apk -1
/system/app/VisualizationWallpapers.apk -1
/system/app/PhaseBeam.apk -1
/system/priv-app/ExternalStorageProvider.apk -1
/system/app/Calculator.apk -1
/system/priv-app/SystemUI.apk -1
/system/app/UserDictionaryProvider.apk -1
/system/app/PrintSpooler.apk -1
/system/priv-app/Mms.apk -1
/system/priv-app/SharedStorageBackup.apk -1
/system/priv-app/GoogleBackupTransport.apk -1
/system/priv-app/Contacts.apk -1
/system/priv-app/Shell.apk -1
/system/priv-app/talkback.apk -1
/system/app/GoogleContactsSyncAdapter.apk -1
/system/app/Camera2.apk -1
/system/priv-app/Phonesky.apk -1
/system/app/Exchange2.apk -1
/system/app/QuickOffice.apk -1
/system/priv-app/OneTimeInitializer.apk -1
/system/app/GoogleEarth.apk -1
/system/app/Galaxy4.apk -1
/system/app/LiveWallpapersPicker.apk -1
/system/app/Keep.apk -1
/system/app/Hangouts.apk -1
/data/data/com.google.android.youtube/cache/ads-373564207.jar 0
/data/app/com.koushikdutta.vysor-1.apk -1
/data/data/com.koushikdutta.vysor/cache/1470286953684.jar -1
